p {
	color: blue;
}

* {
	font-family: "Tahoma", sans-serif;
}

h1 {
	font-size: 3rem;
}

#hUpper {
	text-transform: uppercase;
}

.liLang {
	background-color: rgb(234, 234, 234);
}

li[value] {
	border: 4px solid green;
}

img + ul {
	list-style-type: none;
	font-family: "Brush Script MT", cursive;
}

section img {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

ul ~ p {
	text-align: center;
}

section > ul {
	letter-spacing: 15px;
}
